# Standard Flutter .gitignore
# https://github.com/flutter/flutter/blob/master/packages/flutter_tools/templates/app/gitignore.tmpl

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .dart_tool/ directory is per-user-per-repository, and contains local,
# build-related files.
.dart_tool/

# Flutter/Dart/Pub-related
# - The .packages file is deprecated but still generated.
# - The .flutter-plugins and .flutter-plugins-dependencies files are generated.
# - The pubspec.lock file is often tracked, but can be ignored if desired.
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android related
**/android/app/key.properties
**/android/app/local.properties
**/android/app/google-services.json
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/GeneratedPluginRegistrant.java

# iOS/macOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/ServiceDefinitions.json
**/ios/Runner/GoogleService-Info.plist
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/flutter_export_environment.sh
**/macos/Flutter/Flutter.podspec
**/macos/DerivedData/
**/macos/Pods/
**/macos/.symlinks/
**/macos/Runner/GeneratedPluginRegistrant.h
**/macos/Runner/GeneratedPluginRegistrant.m
**/macos/ServiceDefinitions.json
**/macos/Runner/GoogleService-Info.plist

# Web related
lib/generated_plugin_registrant.dart

# Build artifacts
build/
